@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

/*  sidebar start*/
.sidebar {
    width: 280px;
    height: 100vh;
    padding: 30px 0px 0px 36px;
    background-color: black;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 5;
    transition: ease all 0.2s;
}

.profile {
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
}

.social-icon{
    font-size: 20px;
}

.social-icon:hover {
    color: cyan;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.link:hover {
    color: tomato;
    
}

/*  sidebar end*/

.menu-btn {
    display: none;
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 100;
    outline: none;
    border: none;
}

.menu {
    font-size: 22px;
    color: white;
}
.main{
    margin-left: 280px;
}

/* main section  start */
.home-section {
    background-image:url(https://images.unsplash.com/photo-1614624532983-4ce03382d63d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGMlMjBzZXR1cHxlbnwwfHwwfHx8MA%3D%3D) ;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

}

.home-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(26, 26, 25, 0.6);
}

.home-content {
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
}

/* home section start*/

.title-name {
    font-size: 50px;
    color: yellow;
}

.title-para {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.resume-btn {
    width: 100px;
    border-radius: 20px;
}
#text-container {
    /* white-space: nowrap; */
    overflow: hidden;
    border-right: 4px solid burlywood;
    font-size: 24px;
    color:burlywood;
  }
/* home section end */


/* project section start */
#project-section{
    background-color: rgb(28, 27, 27);
    height: auto;
}
.flex{
    display: flex;
    /* align-items: center; */
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
}
.bg{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: auto;
}
.form-control{
         border-radius:0px ;  
}

.box-shadow{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* main  section  end */



/* meadia query */
@media screen and (Max-width:768px) {

 .sidebar{
 left: -280px;
 }

    .left-none {
        left: 0px;
    }

    .profile {
        margin-left: 30px;
        width: 120px;
        height: 120px;
    }


    /* main  section  start */
    .menu-btn {
        display: block;
    }

    .home-section {
        margin-left: 0;
        background-image: url(https://images.unsplash.com/photo-1603025832572-c5ba1fb6be8b?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        position: relative;

    }
    .main{
        margin-left:0;
    }
    .home-section::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(15, 15, 14, 0.7);
    }

    /* home section start*/

    .title-name {
        font-size: 40px;
        color: yellow;
    }

    .title-para {
        font-size:30px;
        font-weight: 600;
        color: white;
    }

    .resume-btn {
        width: 100px !important;
    }

    /* home section end */


/* about section start */
.para{
    font-size: 22px;
}
/* about section start */



    /* main  section  end */

}